.confirmation-container {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg, var(--secondary-color) 0%, var(--dark-secondary-color) 80%); */

}

.carbon-result {
    
    /* background-color: white; */
/* 
    border-radius: 50em; */
    z-index: 1;
    margin-top: -3em;
}

.input-circle-icon {
    background-color: var(--light-gray);
    border-radius: 50%;
    padding: 1em;
}

.input-avatar-text-box {
    background-color: white;
    border-radius: 2.5em 2.5em 2.5em 0;
    padding: 1.25em;
    width: 75%;

    z-index: 1;
}

.input-avatar-container {
    width: 90%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(
        circle,
        var(--dark-primary-color) 0%,
        rgba(0, 0, 255, 0) 70%
    );

    margin-top: -2em; /* Overlaps by moving the container up */
}

.avatar-img {
    width: 60%;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
}

.avatar-img:hover:not(:active) {
    transform: scale(1.05);
}

.avatar-img:active {
    transform: rotate(15deg) scale(1.05);
    cursor: grabbing;
}

.button-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    transition: transform 0.2s;
    cursor: pointer;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
}

.button-secondary:hover {
    background-color: var(--primary-color);
    color: white;
}

.button-primary:hover {
    background-color: var(--primary-color);
}

.button-primary:active {
    transform: scale(0.9); /* Slight shrink on click */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-1 {
    animation: fadeIn 0.4s ease-in;
}


.upper-container {
    /* background: linear-gradient(180deg, var(--light-primary-color) 0%, var(--primary-color) 80%); */
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--dark-secondary-color) 80%);
    border-radius: 0 0 2em 2em;
    padding: 1.5em;
    padding-top: 4em;
    height: 100%;
    color: black;
}


.lower-container {
   
    padding: 1.5em;

}