.home-badges-container {

}

.home-badges-card-container {
    padding: 1em;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: var(--card-shadow);
    cursor: pointer;

}

.home-see-more-button {
    color: var(--dark-gray);
}
