.greeting-container {
    background: linear-gradient(
        180deg,
        var(--secondary-color) 0%,
        var(--dark-secondary-color) 80%
    );
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 0 0 2em 2em;
}

.greeting-text-box {
    background-color: white;
    border-radius: 1em 1em 1em 0;
    padding: 1em;
    width: 85%;
    z-index: 1;
}

.avatar-img-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(
        circle,
        var(--primary-color) 0%,
        rgba(0, 0, 255, 0) 70%
    );
    overflow: hidden;
    margin-top: -2em; /* Overlap */
}

.avatar-img {
    width: 60%;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
}

.avatar-img:hover:not(:active) {
    transform: scale(1.05);
}

.avatar-img:active {
    transform: rotate(15deg) scale(1.05);
    cursor: grabbing;
}

.footprint-value {
    z-index: 1;
    margin-top: -3em; /* Overlap */
    margin-bottom: 2em;
}

.badge {
    background-color: white;
    color: var(--primary-color);
    border-radius: 1em;
    padding: 0.8em;
    width: 48%;
}
