/* General Swiper container styles */
.home-swiper-container {
    width: 100%;
    max-width: 360px;
    margin: 0;
    padding-left: 2em !important;
    padding-right: 2em !important;
    overflow: hidden;
}

/* Swiper slide styles */
.swiper-slide {
    height: auto !important;
    
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination {
    display: none;
}
