.challenges-card-container {
    height: 8em;
    width: 100%;
    Background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;
}