.challenges-card-container {
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 1em;
    cursor: pointer;
}

.challenges-card-text span:first-child {
    background: var(--normal-gray);
    border-radius: 50em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: white;
}

.challenges-card-container:hover {
    transform: scale(1.05);
}

.challenges-card-container:active {
    transform: scale(0.95);
}
