.challenges-card-container {
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 1em;
    box-shadow: var(--card-shadow);
    overflow: hidden;
    padding: 1em;
    cursor: pointer;
}

.challenges-card-text span:first-child {
    background: var(--normal-gray);
    border-radius: 50em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: white;
}
