.offsets-card {
    Background-color: white;
    border-radius: 1em;
    box-shadow: var(--card-shadow);
    flex: 1 1 calc((100% - 4em - 2em) / 2);    
}

.offsets-card-img {
    width: 100%;
    aspect-ratio: 7 / 6;
    border-radius:  1em 1em 0 0 ;    
}

.offsets-card-text {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.offsets-value {
    width: 7em;
}
