.offsets-card {

    Background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.1);
    flex: 1 1 calc((100% - 4em - 2em) / 2); 
    transition: transform 0.3s ease;
    
}

.offsets-card-img {
    width: 100%;
    aspect-ratio: 7 / 6;
    border-radius:  1em 1em 0 0 ;
  
    
}

.offsets-card-text {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.offsets-value {
    width: 7em;
}

.offsets-card:hover {
    transform: scale(1.05);
}

.offsets-card:active {
    transform: scale(0.95);
}
