.reduce-carousel-card-container-02 {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1em !important;
    box-shadow: var(--card-shadow);
    user-select: none;
    cursor: grabbing;
    

}

.reduce-visuals-container-02 {
    padding: 0.75em;
    position: relative; 
}

.reduce-carousel-card-img-02 {
    width: 100%;
    height: 100%; /* Ensures the image fills the container's height */
    object-fit: cover;
    border-radius: 0.75em !important;
}

.reduce-carousel-card-text-02 {
    padding: 0 0.75em 0.75em; 
}

.reduce-carousel-card-heart-02 {
    color: rgba(255, 255, 255, 1);
    transition: transform 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.reduce-carousel-card-text-category-02 {
    /* background-color: var(--normal-gray);
    color: white;
    border: 1px solid var(--normal-gray);
    border-radius: 50em;
    padding: 0.25em 0.75em;  */
}
