/* General Swiper container styles */
.swiper-container {
    width: 100%;
    max-width: 360px;
    margin: 0;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    overflow: visible;

    
}

/* Swiper slide styles */
.swiper-slide {
    height: auto !important;
    
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination {
    display: none;
}
