.reduce-page {
    background: linear-gradient(
        180deg,
        var(--light-primary-color) 0%,
        var(--dark-green) 30%
    );
}

.reduce-content-container {
    border-radius: 1.5em;
    background-color: var(--lightest-gray);
    gap: 1.5em;
}
