/* General Swiper container styles */
.swiper-container {
    width: 100%;
    max-width: 360px !important;
    margin: 0;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    overflow: hidden;
}

/* Swiper slide styles */
.swiper-slide {
    height: auto !important;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination {
    display: none;
}
