.suggestions-card-container-2 {
    background-color: var(--white);
    border-radius: 1em;
    padding: 0.5em;
    box-shadow: var(--card-shadow);
    cursor: pointer;
    
}

.suggestions-image-placeholder-2 {
    height: 3em;
    width: 4em;
    border-radius: 0.5em;
    object-fit: cover;
}

.suggestions-image-2 {
    overflow: hidden;
}

