.suggestions-card-container {
    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
    box-shadow: var(--card-shadow);
    cursor: pointer;
}

.suggestions-image-placeholder {
    height: 3em;
    aspect-ratio: 1 / 1;
    border-radius: 0.5em;
}

.suggestions-image {
    overflow: hidden;
    object-fit: cover;
}

