
.card-small-02 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: var(--card-shadow);
    flex: 1 1 calc((100% - 4em - 2em) / 2);
    user-select: none;
}
