.input-carousel-card-container-01 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--white);

    border-radius: 1em !important;
    box-shadow: var(--card-shadow);
    user-select: none;
    cursor: grabbing;
    color: var(--darkish-gray);

}
.input-visuals-container-01 {
    height: auto;
    padding-bottom: 0.5em;
}

.input-carousel-card-img-01 {
    width: 100%;
    height: auto; /* Preserves the aspect ratio */
    position: relative;
    left: 2em; /* Moves the image slightly to the right */
    top: 1em; /* Moves the image slightly to down */
    object-fit: contain;
}

.input-carousel-card-text-01 {

}

.input-carousel-card-heart-01 {
    background-color: white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    color: #b97d7d;
    transition: transform 0.2s;
}

.input-carousel-card-heart-01:active {
    transform: scale(1.2);
}

