:root {
    --light-primary-color: #7F81D5;
    --primary-color: #5A5AC1;
    --dark-primary-color: #2C2C74;
    --secondary-color: #E2E9FF;
    --dark-secondary-color: #c6d3ff;
    --light-gray: #f1f2f6;
    --dark-gray: #4A4A4A;
    --normal-gray: #a4adbc;

}