.circle-avatar {
    width: 3.5em;
    height: 3.5em;
    transition: transform 0.2s;

}

.circle-add {
    width: 3.5em;
    height: 3.5em;
    background-color: var(--light-gray);
    transition: transform 0.2s;

}


.circle-avatar:hover, .circle-add:hover {
    transform: scale(1.1); /* Slight shrink on click */
}