.footer-container {
    border-radius: 2em 2em 0 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 2em;
    padding-bottom: 6em;
    width: 100%;
    background: var(--header-footer-gradient);
    box-shadow: var(--container-shadow);
    color: white;
    border-radius: 2em 2em 0 0;
    margin-top: 0.5em;
}

.circle-avatar {
    width: 4em;
    height: 4em;
    border: 0.20em solid white;
}

.circle-add {
    width: 4em;
    height: 4em;
    background-color: white;
}


