.header-container {
    background: linear-gradient(180deg, var(--light-primary-color) 0%, var(--primary-color) 60%);
    padding: 4em 2em 2em 2em;
    width: 100%;
    color: white;
    user-select: none;
}

