.header-container {
    /* background: linear-gradient(
        180deg,
        var(--normal-green) 0%,
        var(--dark-green) 100%
    ); */

    background: var(--header-footer-gradient);
    padding: 4em 2em 2em 2em;
    width: 100%;
    color: white;
    user-select: none;
}
