#root {
  height: 100vh;
 
}

html {
  scroll-behavior: smooth;
}

body {

  padding: 0;
  margin: 0;
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Lato', sans-serif;

  /* font-family: 'Inter', sans-serif; */

}



:root {
  --primary-color: #5A5AC1;
  --secondary-color: #E2E9FF;
  --light-gray: #f1f2f6;
  --dark-gray: #4A4A4A;
  --normal-gray: #a4adbc;
  --top-padding: 2em;
  --bottom-padding: 2em;

}

@tailwind base;
@tailwind components;
@tailwind utilities;